<footer class="site-footer h-card">
  <div class="wrapper footer-wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
	  <img src="{{"/assets/images/logo-jerome-briot.svg" | relative_url }}" height="48" width="48" alt="jerome-briot-logo"/>
      </div>

      <div class="footer-col footer-col-2">
		<p style="text-align: center">{{ site.description[page.lang] | replace: "3D ", "3D&nbsp;"  }}</p>
      </div>

      <div class="footer-col footer-col-3">
		{% include social.html %}
      </div>
    </div>
  </div>
</footer>
