<div class="post-content">
    <h2 class="post-list-heading">Services</h2>
  </div>
  <section>
    {% if page.lang == "en" %}
      <div class="four-col">
        <a href="/services/index.html#design"><img class="services-small" src="/assets/images/openfeeder.gif" alt="Perchoir pour oiseau - Projet Openfeeder"/></a>
        <h3 style="margin-bottom: 0">Design and<br/>3D printing</h3>
        <p><a href="/services/index.html#design">More&#8230;</a></p>
      </div>
      <div class="four-col">
        <a href="/services/index.html#prototyping"><img class="services-small" src="/assets/images/dispositif-mesure-02.jpg" alt="Boitier impression 3D"/></a>
        <h3 style="margin-bottom: 0">Device<br/>prototyping</h3>
        <p><a href="/services/index.html#prototyping">More&#8230;</a></p>
      </div>
      <div class="four-col">
        <a href="/services/index.html#microcontrolers"><img class="services-small" src="/assets/images/microchip-curiosity-nano.jpg" alt="Programmation microcontroleurs"/></a>
        <h3 style="margin-bottom: 0">Microcontrollers<br/>programming</h3>
        <p><a href="/services/index.html#microcontrolers">More&#8230;</a></p>
      </div>
      <div class="four-col">
        <a href="/services/index.html#fusion360"><img class="services-small" src="/assets/images/fusion-360-python-2.png" alt="Fusion 360 and Python"/></a>
        <h3 style="margin-bottom: 0">Fusion 360&trade;<br/>programming</h3>
        <p><a href="/services/index.html#fusion360">More&#8230;</a></p>
      </div>
    {% else %}
    <div class="four-col">
      <a href="/fr/services/index.html#conception"><img class="services-small" src="/assets/images/openfeeder.gif" alt="Perchoir pour oiseau - Projet Openfeeder"/></a>
      <h3 style="margin-bottom: 0">Conception<br/>et impression 3D</h3>
      <p><a href="/fr/services/index.html#conception">En savoir plus&#8230;</a></p>
    </div>
    <div class="four-col">
      <a href="/fr/services/index.html#prototypage"><img class="services-small" src="/assets/images/dispositif-mesure-02.jpg" alt="Boitier impression 3D"/></a>
      <h3 style="margin-bottom: 0">Prototypage de<br/>dispositifs</h3>
      <p><a href="/fr/services/index.html#prototypage">En savoir plus&#8230;</a></p>
    </div>
    <div class="four-col">
      <a href="/fr/services/index.html#microcontroleurs"><img class="services-small" src="/assets/images/microchip-curiosity-nano.jpg" alt="Programmation microcontroleurs"/></a>
      <h3 style="margin-bottom: 0">Programmation de<br/>microcontr&ocirc;leurs</h3>
      <p><a href="/fr/services/index.html#microcontroleurs">En savoir plus&#8230;</a></p>
    </div>
    <div class="four-col">
      <a href="/fr/services/index.html#fusion360"><img class="services-small" src="/assets/images/fusion-360-python-2.png" alt="Fusion 360 and Python"/></a>
      <h3 style="margin-bottom: 0">Programmation de Fusion&nbsp;360&trade;</h3>
      <p><a href="/fr/services/index.html#fusion360">En savoir plus&#8230;</a></p>
    </div>
    {% endif %}
</section>