/* Site header */
.site-header { border-top: 0px solid #424242; border-bottom: 1px solid #e8e8e8; min-height: 55.95px; position: relative; }

/*.site-title { float: left; font-size: 18px; text-align: right;}*/
.site-title, .site-title:visited { font-size: 18px; color: #008097; text-decoration: none;}
.site-title:hover { color: #444; text-decoration: none;}
.site-nav { float: left; }

/* How to create an awesome navigation bar with HTML & CSS by Kevin Powell */
/*	https://www.youtube.com/watch?v=FEmysQARWFU */
/*	https://codepen.io/kevinpowell/pen/GrLKNo */

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 11px;
  padding-top: 13px;

  position: relative;
}

nav a {
  /*color: #444;*/
  color: #008097;
  text-decoration: none;
  font-size: 18px;
}

nav a:visited {
  /*color: #000;*/
  color: #008097;
  text-decoration: none;
}

nav a:hover {
  color: #444;
  text-decoration: none;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  /*background-color: #444;*/
  background-color: #E8AD23;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* Contact */

form.wj-contact input[type="text"], form.wj-contact textarea[type="text"] {
    width: 97%;
    vertical-align: middle;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    padding: 0.75em;
    /*font-family: monospace, sans-serif;*/
    font-weight: lighter;
    border-style: solid;
    border-color: #444;
    outline-color: #2e83e6;
    border-width: 1px;
    border-radius: 3px;
    transition: box-shadow .2s ease;
}
form.wj-contact input[type="submit"] {
    outline: none;
    color: white;
    background-color: #2e83e6;
    border-radius: 3px;
    padding: 0.5em;
    margin: 0.25em 0 0 0;
    border: 1px solid transparent;
    height: auto;
}

/* Resume */

div.resume {
	margin-left: 2%;
}

h2.resume {
	margin-bottom: 2px;
}

h4.resume {
	margin-bottom: 0;	
}

p.resume_exp_info {
	color: #808080;
	margin-bottom: 0;
}

/* Projects */

p.projects {
	display: inline;
}

div.projects {
	width: 40%;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
}

hr.projects  {
	border:0;
	border:1px solid #E8AD23;
}