---
layout: default
---
<article class="post">
  <div class="post-content">
  {% if page.lang == "en" %}
    <h2>How can I help you?</h2>
  {% else %}
    <h2>Comment puis-je vous aider ?</h2>
  {% endif %} 
  
  <!--- https://gist.github.com/sharu725/b8bc09d8a6bb57c637df0b5ae958c155 --->
  
<form class="wj-contact" action="https://formspree.io/{{site.email}}" method="POST">
{% if page.lang == "en" %}
	<input type="text" name="name" placeholder="Name">
	<input type="text" name="email" placeholder="Email Address">
	<textarea type="text" name="content" rows="10" placeholder="Message"></textarea>
	<input type="hidden" name="_next" value="//{{ site.url | remove: "https://"}}/thanks/">
    <input type="hidden" name="_subject" value="New Contact Form Submission">
	<input type="hidden" name="_language" value="en" />
    <input type="text" name="_gotcha" style="display:none">
    <input type="submit" value="Submit">
{% else %}
	<input type="text" name="name" placeholder="Nom">
	<input type="text" name="email" placeholder="Adresse email">
    <textarea type="text" name="content" rows="10" placeholder="Message"></textarea>
    <input type="hidden" name="_next" value="//{{ site.url | remove: "https://"}}/fr/merci/">
    <input type="hidden" name="_subject" value="Nouvelle soumission de formulaire de contact">
	<input type="hidden" name="_language" value="fr" />
    <input type="text" name="_gotcha" style="display:none">
    <input type="submit" value="Envoyer">
{% endif %}
</form>
  </div>
</article>
