---
layout: default
---
<article class="post">
{% if page.title %}
  <header class="post-header">
  {% if page.ref == "index" %}
    {% if page.lang == "en" %}
	  <h2 class="post-title" style="font-size: 32px; width: 70%; margin-left: auto; margin-right:auto; text-align: center;">{{ page.title | escape }}</h2>
	{% else %}
	  <h1 class="post-title" style="font-size: 32px; width: 70%; margin-left: auto; margin-right:auto; text-align: center;">{{ page.title | replace: " ?", "&nbsp;?" }}</h1>
	{% endif %}	
  {% else %}
    {% if page.display_title %}
      <h2 class="post-title" style="display: inline-block;">{{ page.title | escape }}</h2>
    {% endif %} 
  {% endif %} 
  </header>  
{% endif %} 
  <div class="post-content">
    {{ content }}
  </div>
</article>
