---
layout: default
---
<article class="post">
  <div class="post-content">  
	{% for proj in site.data.projects %}
	  {% if page.lang == "en" %}
	    {% assign name = proj.name %}	  
        {% assign excerpt = proj.excerpt %}
	    {% assign projects_url = "/projects/" %}
	    {% assign str = " More informations…" %}
      {% else %}
	    {% assign name = proj.name_fr %}
        {% assign excerpt = proj.excerpt_fr %}
	    {% assign projects_url = "/fr/projets/" %}
	    {% assign str = " En savoir plus…" %}
	  {% endif %}	    
      <h2>{{ name }}</h2>
	  <p class="projects">{{ excerpt }}</p><a href="{{ projects_url | append: proj.id | relative_url }}">{{ str }}</a>
	  {% if forloop.last == false %}
		<div class="projects"><hr class="projects"></div>
	  {% endif %} 
	{% endfor %}
  </div>
</article>
